In [91]:
import pandas as pd
df=pd.read_csv("C:/Users/MAYANK/Downloads/Train_dataset1.csv")
dft=pd.read_csv("C:/Users/MAYANK/Downloads/Test_dataset1.csv")

In [92]:
import numpy as np
d = {'Female': 0, 'Male': 1}
df['Gender'] = df['Gender'].map(d).fillna(df['Gender'])
dft['Gender'] = dft['Gender'].map(d).fillna(df['Gender'])

In [93]:
df=df.drop(['Designation'], axis = 1)
df=df.drop(['Name'], axis = 1)
df=df.drop(['Married'],axis=1)
dft=dft.drop(['Designation'], axis = 1)
dft=dft.drop(['Name'], axis = 1)
dft=dft.drop(['Married'],axis=1)

In [94]:
print(df.shape)
print(dft.shape)

(10714, 25)
(14498, 24)

In [95]:
import numpy as np
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)

y=np.array(df['Diuresis'])

yt=np.array(dft['Diuresis'])

imputer = imputer.fit(pd.DataFrame(y ))
y = imputer.transform(pd.DataFrame(y ))
df["Diuresis"]=y

imputer = imputer.fit(pd.DataFrame(yt ))
yt = imputer.transform(pd.DataFrame(yt ))
dft["Diuresis"]=yt
print(df.shape)
print(df.columns)

(10714, 25)
Index(['people_ID', 'Region', 'Gender', 'Children', 'Occupation',
       'Mode_transport', 'cases/1M', 'Deaths/1M', 'comorbidity', 'Age',
       'Coma score', 'Pulmonary score', 'cardiological pressure', 'Diuresis',
       'Platelets', 'HBB', 'd-dimer', 'Heart rate', 'HDL cholesterol',
       'Charlson Index', 'Blood Glucose', 'Insurance', 'salary', 'FT/month',
       'Infect_Prob'],
      dtype='object')

In [96]:


from sklearn.preprocessing import LabelEncoder 
  
le = LabelEncoder() 
  
dft['Region']= le.fit_transform(dft['Region']) 
dft['Mode_transport']= le.fit_transform(dft['Mode_transport']) 
dft['comorbidity']= le.fit_transform(dft['comorbidity']) 
dft['Occupation']= le.fit_transform(dft['Occupation']) 

dft['cardiological pressure']= le.fit_transform(dft['cardiological pressure']) 
dft['Pulmonary score']= le.fit_transform(dft['Pulmonary score'])

In [97]:
dft.shape

(14498, 24)

In [98]:
import numpy as np
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)

y=np.array(df['Diuresis'])

imputer = imputer.fit(pd.DataFrame(y ))
y = imputer.transform(pd.DataFrame(y ))
df["Diuresis"]=y
print(df.shape)
print(df.columns)
df.dropna(inplace=True)

from sklearn.preprocessing import LabelEncoder 
  
le = LabelEncoder() 
  
df['Region']= le.fit_transform(df['Region']) 
df['Mode_transport']= le.fit_transform(df['Mode_transport']) 
df['comorbidity']= le.fit_transform(df['comorbidity']) 
df['Occupation']= le.fit_transform(df['Occupation']) 

df['cardiological pressure']= le.fit_transform(df['cardiological pressure']) 
df['Pulmonary score']= le.fit_transform(df['Pulmonary score'])
df.shape

(10714, 25)
Index(['people_ID', 'Region', 'Gender', 'Children', 'Occupation',
       'Mode_transport', 'cases/1M', 'Deaths/1M', 'comorbidity', 'Age',
       'Coma score', 'Pulmonary score', 'cardiological pressure', 'Diuresis',
       'Platelets', 'HBB', 'd-dimer', 'Heart rate', 'HDL cholesterol',
       'Charlson Index', 'Blood Glucose', 'Insurance', 'salary', 'FT/month',
       'Infect_Prob'],
      dtype='object')

(7488, 25)

In [99]:
# df=pd.DataFrame(df)
df.head(5)
# df.shape

,people_ID,Region,Gender,Children,Occupation,Mode_transport,cases/1M,Deaths/1M,comorbidity,Age,...,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month,Infect_Prob
0,1,1,0,1.0,4,1,2,0,2,68,...,93.0,233.0,82.0,58.0,27,7,3600000.0,1300000,2.0,49.135010
1,2,1,0,2.0,4,2,2,0,1,64,...,56.0,328.0,89.0,68.0,5,6,1600000.0,400000,1.0,51.147880
2,3,1,0,1.0,1,1,2,0,3,19,...,137.0,213.0,77.0,43.0,40,6,3400000.0,900000,1.0,73.224000
3,4,1,0,1.0,3,0,2,0,0,33,...,167.0,275.0,64.0,60.0,27,7,700000.0,2300000,1.0,48.779225
4,5,1,0,2.0,6,0,2,0,1,23,...,153.0,331.0,71.0,64.0,32,7,3200000.0,1100000,1.0,87.868800

In [101]:

x=df.iloc[:,:-1]
y=df.iloc[:,-1]
print(y.head())
print(x.head())

0    49.135010
1    51.147880
2    73.224000
3    48.779225
4    87.868800
Name: Infect_Prob, dtype: float64
   people_ID  Region  Gender  Children  Occupation  Mode_transport  cases/1M  \
0          1       1       0       1.0           4               1         2
1          2       1       0       2.0           4               2         2
2          3       1       0       1.0           1               1         2
3          4       1       0       1.0           3               0         2
4          5       1       0       2.0           6               0         2

   Deaths/1M  comorbidity  Age    ...     Platelets    HBB  d-dimer  \
0          0            2   68    ...         154.0   93.0    233.0
1          0            1   64    ...         121.0   56.0    328.0
2          0            3   19    ...         124.0  137.0    213.0
3          0            0   33    ...          98.0  167.0    275.0
4          0            1   23    ...          21.0  153.0    331.0

   Heart rate  HDL cholesterol  Charlson Index  Blood Glucose  Insurance  \
0        82.0             58.0              27              7  3600000.0
1        89.0             68.0               5              6  1600000.0
2        77.0             43.0              40              6  3400000.0
3        64.0             60.0              27              7   700000.0
4        71.0             64.0              32              7  3200000.0

    salary  FT/month
0  1300000       2.0
1   400000       1.0
2   900000       1.0
3  2300000       1.0
4  1100000       1.0

[5 rows x 24 columns]

In [102]:
from sklearn.preprocessing import PolynomialFeatures 
  
poly = PolynomialFeatures(degree = 3) 
X_poly = poly.fit_transform(x)

  
poly.fit(X_poly, y)

NameError: name 'LinearRegression' is not defined

In [104]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics
 
lin2 = LinearRegression() 
lin2.fit(X_poly, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [106]:
x_tst = poly.fit_transform(dft)
y_predp=lin2.predict(x_tst)

In [111]:
y_predp=abs(y_predp)
y_predp=pd.DataFrame(y_predp)

In [117]:
pid=dft["people_ID"]
pid=pd.DataFrame(pid)

In [126]:
lst=[pid,y_predp]
xx=pd.concat(lst,axis=1)
xx.to_csv("C:/Users/MAYANK/Downloads/pred.csv",index=False)

In [127]:
lin2.score(x_tst,y_predp)

-5.414064958590716